@model Pixel_Art_Blog.Core.Domain.Subscriber

<section class="section-newsletter" id="subscire">
    <div class="row">
        <h2 class="bar">Subscribe to newsletter</h2>
    </div>

    <div class="row">
        @using (Html.BeginForm("AddSubscriber", "Subscribtion", FormMethod.Post,
            new { @class = "newsletter-form" }))
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new
                {
                    @class = "form-control",
                    placeholder = "Name",
                    required = true
                })
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div class="form-group news-box">
                @Html.TextBoxFor(m => m.Email, new
                {
                    @class = "form-control",
                    placeholder = "Email",
                    required = true,
                    type = "email"
                })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            @Html.HiddenFor(m => m.ID)
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-first" value="Subscribe!"/>
        }
    </div>

    <div class="clearfix"></div>
</section>
