@model Pixel_Art_Blog.Models.AllPostsViewModel

@{
    ViewBag.Title = "AllPosts";
}

<div class="container">

    <h1 class="bar">Posts</h1>

    <div class="category-nav">
        <ul>
            @foreach (var category in Model.Categories)
            {
                <li>
                    @Html.ActionLink(category.Name, "AllPosts", "Post",
                        new { page = 1, categoryId = category.ID },
                        new
                        {
                             @class =(Model.Result.CategoryId != null && category.ID == Model.Result.CategoryId)
                                ? "btn btn-first" : "btn btn-second"
                        })
                </li>
            }
        </ul>
    </div>

    <span class="js-waypoint"></span>

    @foreach (var post in Model.Result.Posts)
    {
        string link = "/post" + post.ID;
        <div class="big-box">
            <figure class="post-image">
                <img src="~/Content/Img/@post.Img" />
            </figure>
            <h3><a href="@link">@post.Title</a></h3>
            <p>@post.Description</p>
        </div>
     }

    <div>
        @Html.PageLinks(Model.Result.TotalPages, Model.Result.CurrentPage, x => Url.Action("AllPosts",
            new { page = x, categoryId = Model.Result.CategoryId }))
    </div>
</div>