@model Pixel_Art_Blog.Models.MainIndexViewModel

@{
    ViewBag.Title = "Index";
}

<!--TODO
        Get rid of marking after using super scrooling
        Make things in loop
    -->

<section class="section-posts">
    <div class="row">
        <div class="col span-2-of-3 main-box">
            <div class=" main-box">
                <figure class="post-image">
                    <img src="~/Content/Resources/Img/days.png" alt="Days" />
                </figure>
                <h2>@Html.ActionLink(Model.MainPost.Title, "Post", "Post", 
                   new { id = Model.MainPost.ID }, null)</h2>
                <p class="main-post">
                    @Model.MainPost.Description
                </p>
            </div>
        </div>

        <div class="col span-1-of-3">
            <div class="box">
                <figure class="post-image">
                    <img src="~/Content/Resources/Img/bubles.png" alt="Bubles" />
                </figure>
                <h3>@Html.ActionLink(Model.SidePosts[0].Title, "Post", "Post",
                    new { id = Model.SidePosts[0].ID }, null)</h3>
                <p>
                    @Model.SidePosts[0].Description
                </p>
            </div>

            <div class="box">
                <figure class="post-image">
                    <img src="~/Content/Resources/Img/car.png" alt="Car" />
                </figure>
                <h3>@Html.ActionLink(Model.SidePosts[1].Title, "Post", "Post",
                    new { id = Model.SidePosts[1].ID }, null)</h3>
                <p>
                    @Model.SidePosts[1].Description
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col span-1-of-3">
            <div class="box">
                <figure class="post-image">
                    <img src="~/Content/Resources/Img/bubles.png" alt="Bubles" />
                </figure>
                <h3>@Html.ActionLink(Model.RowPosts[0].Title, "Post", "Post",
                    new { id = Model.RowPosts[0].ID }, null)</h3>
                <p>
                    @Model.RowPosts[0].Description
                </p>
            </div>
        </div>

        <div class="col span-1-of-3">
            <div class="box">
                <figure class="post-image">
                    <img src="~/Content/Resources/Img/car.png" alt="Car" />
                </figure>
                <h3>@Html.ActionLink(Model.RowPosts[1].Title, "Post", "Post",
                    new { id = Model.RowPosts[1].ID }, null)</h3>
                <p>
                    @Model.RowPosts[1].Description
                </p>
            </div>
        </div>

        <div class="col span-1-of-3">
            <div class="box">
                <figure class="post-image">
                    <img src="~/Content/Resources/Img/tower.png" alt="Tower" />
                </figure>
                <h3>@Html.ActionLink(Model.RowPosts[2].Title, "Post", "Post",
                    new { id = Model.RowPosts[2].ID }, null)    
                </h3>
                <p>
                    @Model.RowPosts[2].Description
                </p>
            </div>
        </div>

    </div>
</section>

<section class="section-categories" id="categories">
    <div class="row">
        <h2 class="bar">Go where you want</h2>
    </div>

    <div class="row js-animate-1">
        <a href="#">
            <div class="col span-1-of-3 category">
                <h3>
                    <i class="ion-hammer icone"></i>
                    @Model.Categories[0].Name
                </h3>
                <blockquote>
                    @Model.Categories[0].Description
                </blockquote>
            </div>
        </a>

        <a href="#">
            <div class="col span-1-of-3 category">
                <h3>
                    <i class="ion-planet icone"></i>
                    @Model.Categories[1].Name
                </h3>
                <blockquote>
                    @Model.Categories[1].Description
                </blockquote>
            </div>
        </a>

        <a href="#">
            <div class="col span-1-of-3 category">
                <h3>
                    <i class="ion-beer icone"></i>
                    @Model.Categories[2].Name
                </h3>
                <blockquote>
                    @Model.Categories[2].Description
                </blockquote>
            </div>
        </a>
    </div>
</section>