@model Pixel_Art_Blog.Models.MainIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
    ViewBag.Title = "Index";
}

<!--TODO
        Get rid of marking after using super scrooling
        Make things in loop
    -->

@Html.Partial("_Header")
<section class="section-posts">
    <div class="row">
        <div class="col span-2-of-3 main-box">
            @if (Model.MainPost != null)
            {
                <div class=" main-box">
                    <figure class="post-image">
                        <img src="~/Content/Img/@Model.MainPost.Img" alt="Days" />
                    </figure>
                    <h2>
                        @Html.ActionLink(Model.MainPost.Title, "Post", "Post",
                             new { id = Model.MainPost.ID }, null)
                </h2>
                <p class="main-post">
                    @Model.MainPost.Description
                </p>
            </div>
        }
        </div>

        <div class="col span-1-of-3">
            @if (Model.SidePosts != null)
            {
                foreach (var post in Model.SidePosts)
                {
                    <div class="box">
                        <figure class="post-image">
                            <img src="~/Content/Img/@post.Img" alt="@post.Img" />
                        </figure>
                        <h3>
                            @Html.ActionLink(post.Title, "Post", "Post",
                                      new { id = post.ID }, null)
                        </h3>
                        <p>
                            @post.Description
                        </p>
                    </div>
                }
            }
        </div>
    </div>

    <div class="row">
        @if(Model.RowPosts != null)
        {
            foreach(var post in Model.RowPosts)
            {
                <div class="col span-1-of-3">
                    <div class="box">
                        <figure class="post-image">
                            <img src="~/Content/Img/@post.Img" alt="@post.Img" />
                        </figure>
                        <h3>
                            @Html.ActionLink(post.Title, "Post", "Post",
                                  new { id = post.ID }, null)
                        </h3>
                        <p>
                            @post.Description
                        </p>
                    </div>
                </div>
            }
        }
    </div>
</section>

<section class="section-categories" id="categories">
    <div class="row">
        <h2 class="bar">Go where you want</h2>
    </div>

    <div class="row js-animate-1">
        <a href="#">
            <div class="col span-1-of-3 category">
                <h3>
                    <i class="ion-hammer icone"></i>
                    @Model.Categories[0].Name
                </h3>
                <blockquote>
                    @Model.Categories[0].Description
                </blockquote>
            </div>
        </a>

        <a href="#">
            <div class="col span-1-of-3 category">
                <h3>
                    <i class="ion-planet icone"></i>
                    @Model.Categories[1].Name
                </h3>
                <blockquote>
                    @Model.Categories[1].Description
                </blockquote>
            </div>
        </a>

        <a href="#">
            <div class="col span-1-of-3 category">
                <h3>
                    <i class="ion-beer icone"></i>
                    @Model.Categories[2].Name
                </h3>
                <blockquote>
                    @Model.Categories[2].Description
                </blockquote>
            </div>
        </a>
    </div>
</section>

@Html.Partial("_Tutorial")
@Html.Partial("_Subscription", Model.Subscriber)