@model Pixel_Art_Blog.Models.PostViewModel
@{
    ViewBag.Title = Model.Post.Title;
}
<div class="container">
    <article>
        <div class="post-header">
            <h1>@Model.Post.Title</h1>
            <h5>
                @Model.Post.ReleaseDate.Date.ToString("dd/MM/yyyy")
                || @Model.Post.Category.Name
            </h5>
        </div>

            <p>
                @Model.Post.Content
            </p>

        <div class="author">
            <h4>@Model.Author</h4>
        </div>
    </article>
</div>