@model Pixel_Art_Blog.Models.NewPostViewModel
@{
    ViewBag.Title = "PostForge";
}
<div class="container">
    <h1>PostForge</h1>

    @using (Html.BeginForm("Save", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Post.Title)
            @Html.TextBoxFor(m => m.Post.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Post.Title)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Post.Content)
            @Html.TextAreaFor(m => m.Post.Content, new { @class = "form-control text-edit", @rows = 30 })
            @Html.ValidationMessageFor(m => m.Post.Content)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Post.Description)
            @Html.TextAreaFor(m => m.Post.Description, new { @class = "form-control", @rows = 5 })
            @Html.ValidationMessageFor(m => m.Post.Description)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Post.CategoryID)
            @Html.DropDownListFor(m => m.Post.CategoryID, new SelectList(Model.Categories, "ID", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Post.CategoryID)
        </div>
              
        <div class="form-group">
            @Html.LabelFor(m => m.Img)
            <input class="inputfile" data-rule-validImg="true" type="file" id="file-input" name="Img" onchange="addImage()"/>
            
            <div id="img-container">
                @if (Model.Post.ID != 0)
                {
                    <img id="upload-img" src="~/Content/Img/@Model.Post.Img" alt="Dodaj zdjęcie"/>
                }
            </div>
        </div>        

        @Html.HiddenFor(m => m.Post.ID)
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-first" value="Save"/>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            //Add toolbox to text editor
            $('.text-edit').jqte();

            //Validation of uploading property
            $.validator.addMethod("validImg", function () {
                return $('#upload-img').length !== 0;
            }, "You need upload picture");
        });

        //Realtime chanaging of thumbnail
        var addImage = function () {
            var input = document.getElementById("file-input");
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);

            fReader.onloadend = function (event) {
                if ($('#upload-img').length) {
                    var img = document.getElementById("upload-img");
                    img.src = event.target.result;
                } else {
                    $('#img-container').append(' <img id="upload-img" src="'
                        + event.target.result + '" alt="Dodaj zdjęcie"/>');
                }
            }
        }     
    </script>
}